---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/poppins/300.css';
import Navbar from '../components/Navbar.astro';

interface Props {
 title: string;
 noNavbar?: boolean;
}

const { title, noNavbar } = Astro.props;
---

<!doctype html>
<html lang='en'>
 <head>
  <title>{title}</title>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <link rel='icon' type='image/jpg' href={`${Astro.url.origin}/aryxst.jpg`} />
  <link rel='canonical' href={Astro.url.href} />
  <meta name='description' content="I'm Aryxst. A UX/UI Design enthusiast and JS Programmer." />
  <meta name='author' content='Aryxst' />
  <meta name='keywords' content='Aryxst, Portfolio, UI/UX Designer, Frontend Developer, Backend Developer, React, Bun, JavaScript' />
  <meta name='robots' content='index, follow' />
  <meta property='og:title' content={title || 'Aryxst'} />
  <meta property='og:description' content="I'm Aryxst. A UX/UI Design enthusiast and JS Programmer." />
  <meta name='theme-color' content='#49494942' />
  <meta property='og:image' content={`${Astro.url.origin}/aryxst.jpg`} />
  <meta property='og:url' content={Astro.url.href} />
  <meta property='og:type' content='website' />
  <meta name='generator' content={Astro.generator} />
  <ViewTransitions />
 </head>
 <body>
  <slot />
  {!noNavbar && <Navbar />}
  <style is:global>
   :root {
    --bg-default: #0e1217;
    --steel-blue: #343841;
    --off: #12151a;
   }
   body,
   *:after,
   *:before {
    box-sizing: border-box;
   }
   body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: var(--bg-default);
    margin: 0;
   }
  </style>
  {
   /* TODO: Add link animation on route change
  <script is:inline>
   document.addEventListener('astro:before-swap', (e) => {
    const path = new URL(location.href).pathname;
    localStorage.setItem('last-path', path);
   });
   document.addEventListener('astro:after-swap', (e) => {
    const previousPath = localStorage.getItem('last-path');
    const currentPath = new URL(location.href).pathname;
    if (previousPath === currentPath) return;
    const navLinks = document.querySelectorAll('.nav-link>a');
    navLinks.forEach((link) => {
     const href = link.getAttribute('href');

     if (previousPath === '/' && href === '/') {
      link.parentElement.setAttribute('data-active', 'true');
      setTimeout(() => {
       link.parentElement.setAttribute('data-active', 'false');
      }, 250);
     } else if (previousPath.includes(href && href !== '/')) {
      link.parentElement.setAttribute('data-active', 'true');
      setTimeout(() => {
       link.parentElement.setAttribute('data-active', 'false');
      }, 250);
     }
    });
   });*/
  }
 </body>
</html>
